{% extends 'base.html.twig' %}
 
{% block body %} 
<style>
  .container {
  position: relative;
  text-align: center;
  color: white;
} 
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>
<div class="row"  style="padding-top: 10px">
<div class="col"></div>
 <div class="col-lg-11 shadow p-3 mb-5 bg-white rounded">
    <div class="text-center my-5">
      <h1 class="display-3">Imagens do sistema </h1>
   
      <hr>
    </div>
 
 {% if album.items %}
 <div class="container-fluid">
 
                     <div class="row">
                     {% set cont = 0 %}
                     {% set apl = (album.items|length / 5)|round %}
                      {% if album.items|length < 5 %}
                  {% set apl = (album.items|length / 5)|round(0,'floor') %}
                    {% endif %}
            
            {% for postagem in album.items %}
             
             {% if cont == 0 %}
         <div class="column">
            {% endif %}
            <div class="container" onclick="getId({{postagem.id}})">

                                <img src="{{ '/uploads/' ~ postagem.imagem }}" id="{{postagem.id}}" >
                                <div class="centered"  id="sel{{postagem.id}}" style="visibility: hidden;"><h3>Selecionado</h3></div> 
            </div>
          {% if cont == apl %}
              </div> 
            {% endif %}
           
            {% if cont == apl %}
           {% set cont = 0 %}
           
           {% else %}
            {% set cont = cont + 1 %}
            {% endif %}

            {% endfor %}       
             </div>
              {% endif %}
            </div>
            </div>
            <hr>
     <div class="row">
    <div class="col-sm-5">
    </div>
    <div class="col-sm-7">
    <div class="navigation" >
            {{ knp_pagination_render(album) }}
        </div>
        </div>
        <div class="col-sm-1">
        </div>
        </div>
        </div>
<div class="col"></div>
</div>
{% if app.user %}
          <nav class="navbar fixed-bottom navbar-light bg-light" id="navbarFooterUser" style="visibility: hidden;">
  <div class="row">
    <button id = "carregarSwalAdd" type="button" class="btn btn-primary">Adicionar ao meu album</button>
     {% if is_granted('ROLE_ADMIN') %}
                <button id = "carregarSwalRemove" type="button" class="btn btn-danger">Remover imagem do sistema!!!</button>
            {% endif %}
  </div>
</nav>

 {% endif %}
{% block javascripts %}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
let ids = [];
window.onload = function() {
validate();
} 
  function swalSelect(data){
       var options = {};
        $.map(data,
            function(o) {
                options[o.id] = o.name;
            });
      console.log(data)
 const { value: album } =  Swal.fire({
  title: 'Selecione o album a salvar as imagens',
  input: 'select',
  inputOptions: options,
  inputPlaceholder: 'Selecione um album',
  showCancelButton: true,
  inputValidator: (value) => {
    return new Promise((resolve) => {
      console.log(value)
    $.ajax({
  type: "POST",
  url: '{{ path("album.api_post_album")}}',
  data: {
    images: ids,
    album: value
  },
  dataType: 'json',
     success: function(data, status) {       
                  resolve()
                   Swal.fire({
                icon: 'success',
                title: 'Imagens adicionadas!',
                 text: 'As imagens selecionadas foram adicionadas no album!'
                })
                  
               },  
               error : function(xhr, textStatus, errorThrown) {  
                  resolve()
               Swal.fire({
                icon: 'error',
                title: 'Oops...',
                 text: 'Aconteceu um erro com o servidor!'
                })
               }
});

    })
  }
})

if (album) {
  Swal.fire(`You selected: ${album}`)
}
      }
$(document).ready(function(){   
         $("#carregarSwalAdd").click( function(){  
            $.ajax({  
               url:        '{{ path("album.getAlbums")}}',  
               type:       'GET',   
               dataType:   'json',  
               async:      true,  
               
               success: function(data, status) {       
                  for(i = 0; i < data.length; i++) {  
                     student = data[i];  
                     console.log(data[i])
                  }  
                   swalSelect(data)
               },  
               error : function(xhr, textStatus, errorThrown) {  
                  alert('Ajax request failed.');  
               }  
            });  
         });  
      });
$(document).ready(function(){   
         $("#carregarSwalRemove").click( function(){  
        Swal.fire({
  title: 'Tem certeza?',
  text: "Não será possivel reverter isso!",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Sim, delete!',
  cancelButtonText: 'Cancelar'
}).then((result) => {
 
  if (result.isConfirmed) {
       $.ajax({
  type: "DELETE",
  url: '{{ path("blog_postagem.delete_imagens")}}',
  data: {
    id: ids
  },
  dataType: 'json',
     success: function(data, status) {       
                  resolve()
                   Swal.fire({
                icon: 'success',
                title: 'Imagens adicionadas!',
                 text: 'As imagens selecionadas foram deletadas do album!'
                })
                  
               },  
               error : function(xhr, textStatus, errorThrown) {  
                  resolve()
               Swal.fire({
                icon: 'error',
                title: 'Oops...',
                 text: 'Aconteceu um erro com o servidor!'
                })
               }
});
  }
})
      });
  });

function validate(){
    if(ids.length > 0){
     document.getElementById('navbarFooterUser').style.visibility = 'visible';
    }else{
         document.getElementById('navbarFooterUser').style.visibility = 'hidden';
    }
}

function getId(id){
   
         
    if(ids.find(element=> element == id)){
     document.getElementById(id).style.filter = "grayscale(0) brightness(1)";
      document.getElementById("sel"+id).style.visibility  = 'hidden'
     var index = ids.indexOf(id);
    if (index !== -1) {
     ids.splice(index, 1);
} 
     }else{
           ids.push(id);
     document.getElementById(id).style.filter ="grayscale(1) brightness(0.5)" 
     document.getElementById("sel"+id).style.visibility  = 'visible'
    console.log(ids)
     }
    validate()
}
 
</script>
{% endblock %}
{% endblock %} 