{% extends 'base.html.twig' %}
{% block body %}
    <div class="jumbotron-img jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Artestilo</h1>
            <p class="lead">Artestilo albuns</p>
        </div>
    </div>
    <div class="container">
        <div class="row mb-3">
            <div class="col">
                <button class="btn btn-question">Novos Albuns</button>
            </div>
        </div>

        <div class="row">
            {% for postagem in postagens %}
            <div class="col-6">
                <div id="{{postagem.id}}" style="box-shadow: 2px 3px 9px 4px rgba(0,0,0,0.04);">
                    <div class="q-container p-4">

                        <div class="row">
                            <div class="col-5 text-center" onclick="getId({{postagem.id}})">
                                   <div class="card-2">
                                <img src="{{ '/uploads/' ~ postagem.imagem }}" width="200" height="200">
                                </div>
                            </div>
                            <div class="col">
                                <a class="q-title" href="{{ path('blog_postagem.index', { id: postagem.id }) }}"><h2>{{ postagem.titulo }}</h2></a>
                                <div class="q-display p-3">
                                    <i class="fa fa-quote-left mr-3"></i>
                                    <p class="d-inline">{{ postagem.descricao }}</p>
                                    <p class="pt-4"><strong>--{{ postagem.autor }}</strong></p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    <a class="answer-link" href="#" style="color: #fff;">
                        <p class="q-display-response text-center p-3">
                            <i class="fa fa-magic magic-wand"></i> 6 answers
                        </p>
                    </a>
                </div>
            </div>
           
            {% endfor %}
        </div>
    </div>
    <p style="padding-right=100px;">

</p>
{% endblock %}
{% block javascripts %}

<script>
let ids = [];

function getId(id){
     if(ids.find(element=> element == id)){
    console.log("AAAAAAAAAAAAAAAA")
     document.getElementById(id).style.border = "none";
     var index = ids.indexOf(id);
    if (index !== -1) {
     ids.splice(index, 1);
} 
     }else{
           ids.push(id);
     document.getElementById(id).style.border = "thick solid #3d3d40"; 
     document.getElementById(id).style.borderRadius="25px" 
    console.log(ids)
     }
    if(ids.length > 0){
   document.getElementById('togglee').style.visibility = 'visible';
}else{
    document.getElementById('togglee').style.visibility = 'hidden';
}
}
 

</script>
{% endblock %}
