{% extends 'base.html.twig' %}

{% block body %}
    {% for message in app.flashes('sucesso') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}
    <br>
    
    <div class="container">
    {{ render(controller(
        'App\\Controller\\SearchController::searchBar'
    )) }}
    <div class="row mb-3">
        <h4>Imagens </h4>
     <div style="padding-top: 4px;">
      {# <h5> <a style="padding-left: 10px;color: black" href="{{ path('blog_postagem.list')}}">• Todos os albuns </a> </h5>
      </div> #}
{#       
    {% for categoria in category %}
 <div style="padding-top: 7px;">
     <p><a style="padding-left: 10px;  color: black" href="{{ path('blog_postagem.category', { id: categoria.id }) }}">• {{ categoria.name }}</a></p>
    </div>
    {% endfor %} #}
    </div></div>
    <hr>
    <div class="container">
        <div class="row mb-3">
            <div class="col">
                <button class="btn btn-question">Ultimas Imagens</button>
            </div>
        </div>

        <div class="row">
            {% for postagem in postagens %}

                <div class="col-6">
                    <div style="box-shadow: 2px 3px 9px 4px rgba(0,0,0,0.04);">
                        <div class="q-container p-4">

                            <div class="row">
                                <div class="col-5 text-center">
                                    <a class="q-title"  style="text-decoration: none; color: black" href="{{ path('blog_postagem.index', { id: postagem.id }) }}">
                                   <div class="container">
                                    <div class="card-2">
                                     <img src="{{ '/uploads/' ~ postagem.imagem }}" width="200" height="200">
                                  </div>
                                     </div>
                                     </a>
                                </div>
                                <div class="col">
                                    <a class="q-title"  style="text-decoration: none; color: black" href="{{ path('blog_postagem.index', { id: postagem.id }) }}"><h2>{{ postagem.titulo }}</h2></a>
                                    {% if is_granted('ROLE_ADMIN') %}
                                    <a class="text-danger" href="{{ path('blog_postagem.delete', {id: postagem.id}) }}"> Deletar album</a>
                                    {% endif %}
                                    <div class="q-display p-3">
                                        <i class="fa fa-quote-left mr-3"></i>
                                        <p class="d-inline">{{ postagem.descricao }}</p>
                                        <p class="pt-4"><strong>--{{ postagem.autor }}</strong></p>
                                        <p class="pt-4"> <em>Categoria: {{ postagem.category }}</em></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}