{%  extends 'base.html.twig' %}
{% block title %} {{ postagem.titulo }} {% endblock %}
{% block body %}
<div style="padding-left: 100px">
    <h1>{{ postagem.titulo }}</h1>
    <img src="{{ '/uploads/' ~ postagem.imagem }}">
    <br>
    <a href="{{ '/uploads/' ~ postagem.imagem }}" download="{{ 'imagem-do-post-' ~ postagem.titulo }}">Baixar imagem</a>
    <br>
    <hr>
    {{ postagem.descricao }}
    <br><hr>
    <br>
  
</div>
{%  endblock %}
{% block javascripts %}
<script>

</script>
{% endblock %}