<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Artestilo acervo{% endblock %}</title>
    {% block stylesheets %}
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spartan&display=swap">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
    <style>
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 33.3%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s linear;
}
.column img:hover {
  filter: grayscale(0);
}
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

    </style>
    {% endblock %}
</head>

<nav class="navbar navbar-expand-lg navbar-dark" style="background: #000000">
    <a class="navbar-brand" href="{{ path('blog_homepage') }}" style="text-decoration: none;">
        <img src="{{ '/logo.jpg' }}"  class="img-responsive" width ="100px" height="flex">
    </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo" aria-controls="navbarTogglerDemo" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" style="background: #000000" id="navbarTogglerDemo">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
    <a class="navbar-link" href="{{ path('album.albuns') }}" style="text-decoration: none;">
        <p class=" d-inline font-weight-bold" style="color: white;">Albuns da Artestilo</p>
    </a>&nbsp;&nbsp;
     </li><li class="nav-item">
        <a class="navbar-link" href="{{ path('blog_postagem.viewAll') }}" style="text-decoration: none;">
            <p class=" d-inline font-weight-bold" style="color: white;">Todas as imagens</p>
        </a>
        &nbsp;&nbsp;
        </li>
          {% if app.user %}
     <li class="nav-item">
    <a class="navbar-link" href="{{ path('album.MeusAlbuns') }}" style="text-decoration: none;">
        <p class=" d-inline font-weight-bold" style="color: white;">Meus Albuns</p>
    </a>&nbsp;&nbsp;
     </li> 
    <li class="nav-item">
        <a class="navbar-link" href="{{ path('createCategory') }}" style="text-decoration: none;">
            <p class=" d-inline font-weight-bold" style="color: white;"> Novo Album</p>
        </a>
        &nbsp;&nbsp;
        </li>
          {% endif %} 
    {% if is_granted('ROLE_ADMIN') %}
      <li class="nav-item">
    <a class="navbar-link" href="{{ path('blog_postagem.create') }}" style="text-decoration: none;">
        <p class=" d-inline font-weight-bold" style="color: white;"> Nova Imagem</p>
    </a>
    &nbsp;&nbsp;
      </li>
  
        <li class="nav-item">
        <a class="navbar-link" href="{{ path('dashboard') }}" style="text-decoration: none;">
            <p class=" d-inline font-weight-bold" style="color: white;"> Controle de usuário</p>
        </a>&nbsp;&nbsp;</li>
         </ul>
    {% endif %}
    {% if app.user %}

        <a href="{{ path('app_logout') }}" class="btn btn-dark ml-auto" style="color: white;">Sair</a>
       
      {% else %}
    
        <a href="{{ path('app_login') }}" class="btn btn-dark ml-auto" style="color: white; float: right;">Entrar</a>
      
    {% endif %}
   
  </div>
</nav>

<style>
.card-2 {
  border-radius: 5px;
  border: 1px solid #ccc;
 box-shadow: rgba(0, 0, 0, 0.4) -5px 5px, rgba(0, 0, 0, 0.3) -10px 10px, rgba(0, 46, 170, 0.2) -15px 15px, rgba(0, 0, 0, 0.1) -10px 10px, rgba(0, 0, 0, 0.05) -0 0;
}
</style>
<body style="background-color: #f6aa59">
{% block body %}
    {% endblock %}
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>

{% block footer %}
             {% include 'footer.html.twig' %}
            {% endblock %}
</html>